<mat-toolbar>
  <span>Orange Feel</span>
  <span class="example-spacer"></span>
  <button mat-button color="primary" (click)="changeView()">{{view() === 'draw' ? 'draw' : 'editor'}}</button>
  <button mat-button class="example-icon" color="primary" aria-label="Example icon-button with share icon">
    Change theme
  </button>
</mat-toolbar>


<div class="mt-5">
<app-editor-text/>
</div>
<!--<app-editor-text/>-->
<!-- src/app/app.component.html -->
<section class="example-section">
  <mat-slide-toggle
    [checked]="isDarkTheme"
    (change)="toggleTheme()">
  </mat-slide-toggle>
</section>
<app-editor/>
